<div class="dropdown" id="about-dropdown">
  <button class="btn btn-default dropdown-toggle text-center headerButton" type="button" id="aboutMenu"  aria-haspopup="true" aria-expanded="true" ng-click="$ctrl.toggleList()">
    <span class="glyphicon glyphicon-question-sign" id="about"></span>
  </button>
  <ul class="dropdown-menu headerMenu" aria-labelledby="aboutMenu">
    <li><a ui-sref="app-description" ng-click="$ctrl.closeList()">What is this?</a></li>
    <li><a ui-sref="john-description" ng-click="$ctrl.closeList()">Who did this?</a></li>
    <li><a ui-sref="acknowledgements" ng-click="$ctrl.closeList()">Thanks to...</a></li>
  </ul>
</div>