<!-- note: bender is level 0 and hal is level 10 -->
<div class="modal fade" id="levelModal" role="dialog">
    <div class="modal-dialog">    
		<div class="modal-content text-center">

			<span>
				<img title="bite my shiny metal ass!" 
					 alt="bite my shiny metal ass!" 
					 ng-src="img/bender.png" 
					 data-dismiss="modal" 
					 ng-click="$ctrl.selectLevel(0)">
			</span>

		    <span class="level" 
		    	  ng-repeat="num in [1,2,3,4,5,6,7,8,9]" 
		    	  data-dismiss="modal"
		    	  ng-click="$ctrl.selectLevel(num)">{{num}}&nbsp;</span>

			<span>
				<img title="Lose? I'm afraid I cannot do that." 
					 alt="Lose? I'm afraid I cannot do that." 
					 ng-src="img/hal.png" 
					 data-dismiss="modal" 
					 ng-click="$ctrl.selectLevel(10)">
		    </span>
		</div>  
	</div>
</div>