<!-- user some other gif since pacman gif doesn' work well with orange background -->
<div class="pacman" style="display:none;"><img src="img/white-pacman.gif"></div>

<div ng-repeat="game in $ctrl.games">
	<h3>Level: {{game.difficulty}}</h3> 
	<h3>Result: {{game.result}}</h3>
	<h3>Date: {{game.date}}</h3>
	<button 
		ng-click="$ctrl.switchFocus(game)" 
		class="panel-button" 
		style="width:110px; height: 45px; margin: 0 0 0 0; left: 0px">
		REVIEW
	</button>
	<div id="{{game.no_space_date}}" class="board_history responsive"></div>
	<hr>
</div>