#logo {
	width: 85%;
	display: block;
	margin: auto;
}

#about, #user {
	font-size: 3.5vw;
	position: relative;
	left: 30%;
	top: 30%;
}

.board {
	width: 90%;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

body {
	position: relative;
	background: #D2691E;
}

header {
	position: relative;
	background: #fff;
}

header .row a {
	position: relative;
	top: 95px;
}

.container[ng-app="chessnut"] a {
	position: relative;
	top: 250px;
}

#left, #right {
	position: relative;
	font-size: 4vw;
	color: black;
}

#left:hover, #right:hover {
	color: gold;
}

#left:active, #right:active {
	color: maroon;
}

#left {
	left: 43%;
}

#right {
	right: 19%;
}

.game-title {
	font-family: 'Heebo', sans-serif;
	font-size: 40px;
	text-align: center;
	color: black;
	font-weight: bold;
	margin-left: 10%;
}

.description {
	margin-top: 20px;
	margin-left: -20%;
	margin-right: -20%;
	color: black;
	font-weight: bold;
	font-size: 16px;
	font-family: 'Heebo', sans-serif;
	text-align: center;
}

.description-button {
	width: 40%;
	height: 50px;
	position: relative;
	left: 30%;
	margin-top: 20px;
	border: 0;
	border-radius: 75px;
	background: #EAEAEA;
	text-decoration: none;
	transition: background-color 0.7s ease;
	font-size: 20px;
	text-align: center;
}

.description-button:hover{
	background: gold;
	color: white;
}

.description-button:active, .description-button:focus{
	outline: 0;
}