<div class="description">
	Known as the Royal Game, Chess is seen as the ultimate intellectual sport, and 
	has been likened to art, science, and a good fight. <br><br>

	With vast posibillities over the board, the game has seen champions 
	from Morphy to Tal to Carlsen. So sit down, relax, and treat yourself
	to a game of what Walter Browne called "a natrual cerebral high".
</div>
<button class="description-button" ng-click="$ctrl.slide()">
	<span class="glyphicon glyphicon-arrow-{{$ctrl.arrow}}"></span>
</button>