<div class="description">
	Also called Losing Chess, this is one of the most popular and interesting
	chess variants, where the player wins - you guessed it - by losing. <br><br>

	Capturing is compulsory if available, although players may decide which 
	capture to make if many are present. There are no checks or castling, 
	and the king may be captured or promoted to from a pawn. Hope you lose!
</div>
<button class="description-button" ng-click="$ctrl.slide()">
	<span class="glyphicon glyphicon-arrow-{{$ctrl.arrow}}"></span>
</button>