<div class="description">
	Also known as Fischer Random, this game was invented by the tortured chess genius Bobby Fischer, 
	and reflects his dislike for opening theory. <br><br>

	Rather than completely shuffling the back rank, Chess960 introduces certain restrictions that 
	preserve characteristics of the game, such as bishops on opposite colors. A game of Chess960
	is nearly always a thrill!
</div>
<button class="description-button" ng-click="$ctrl.slide()">
	<span class="glyphicon glyphicon-arrow-{{$ctrl.arrow}}"></span>
</button>