<div class="description">
	With many fun nicknames such as mad chess and schizochess, in this game when 
	you have captured an opponent piece, you gain that piece of your own color
	in your reserves. <br><br>

	Crazyhouse incorporates this "capture and drop" rule from the Japanese game Shogi.
	Unlike Shogi, an immediate checkmate due to a drop is allowed! 
</div>
<button class="description-button" ng-click="$ctrl.slide()">
	<span class="glyphicon glyphicon-arrow-{{$ctrl.arrow}}"></span>
</button>