<div id="ack" class="col-lg-6 col-lg-offset-3 text-center">
	<h1>
		Acknowledgements
	</h1>

	<p> 
		Chessnut uses the following projects: <br><br>
		<a href="https://github.com/oakmac/chessboardjs" target="_blank">chessboard.js</a> <br>
		<a href="https://github.com/jhlywa/chess.js" target="_blank">chess.js</a> <br><br>
		Without the effort put into these projects by their respective creators and the community, 
		my project would not exist.
	</p>

	<hr>

	<p>Coffee also deserves some credit.</p>
</div>